<!DOCTYPE html>
<html>
  <head>
    <title>JobLogged</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyD6HSpwgiKCzuvoSt1rgURZHWs8PGZVtI8"%>
    <%= javascript_include_tag "https://apis.google.com/js/client.js?onload=checkAuth"%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
